<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://images.wallpapersden.com/image/download/landscape-pixel-art_bGhnaGeUmZqaraWkpJRnamtlrWZpaWU.jpg" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="https://th.bing.com/th/id/R.a2a46005f8dda45bfd348e1ec34208ad?rik=%2b0KI13%2feqJaAzg&pid=ImgRaw&r=0" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="https://orig00.deviantart.net/192f/f/2012/253/2/8/temple_by_reklas-d5ebqu1.jpg" class="d-block w-100">
    </div>
  </div>
</div>
