<div id="<%= dom_id story %>">
  <p>
    <strong>Título:</strong>
    <%= story.title %>
  </p>

  <p>
    <strong>Imagen:</strong>
    <%= story.picture %>
  </p>

  <p>
    <strong>Contenido:</strong>
    <%= story.content %>
  </p>

</div>
